language: php
php:
  - 7.3
  - 7.4
install:
  - composer install

jobs:
  include:
    - stage: "test"
      name: "Unit Tests"
      script: composer test-unit
    - script: composer static-check
      name: "Static analysis"